p{
    color: white;
    background-color: rgb(173, 15, 121);
} 

    h1, h2{
        text-align: center;
        text-decoration: underline;
        text-transform: capitalize;
        font-style: 3em;
        font-weight: 500;
    }

    h2{
        font-style: 1.9em;
        font-weight: 300;
    }